{% extends 'base.html' %}


{% block body %}

       <!-- Page Content -->
       <section class="welcoming py-4">
        <div class="container d-flex justify-content-center align-items-center flex-column">
          <h3 class="welcom-heading">مرحبا يا صديقي <span></span></h3>
          <p>أستمتع بمشاهدة الكارتون في وقت فراغك</p>
        </div>
    </section>


    <!-- Anime -->
    <section class="dashboard">
      <div class="container"> 
        <!-- start model   -->
        <div class="modal fade " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centere">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">كارتون</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/t0Q2otsqC4I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">أغلق</button>
                </div>
              </div>
            </div>
          </div>
        <!-- end model   -->

          <div class="row mb-5 pb-4">
           {% for i in videos %}
            <div class="control-wrapper col-12 col-md-4 my-3">
                <div class="control control-1 px-3">
                  <a type="button" 
                   class="open-modal btn" 
                   data-bs-toggle="modal" 
                   data-bs-target="#staticBackdrop" 
                   onclick="changeVideoLink(`{{i[1]}}`)"></a>
                  
                   <div class="text">
                      <p id="today-point-text">{{i[0]}}</p>
                  </div> 
                  <img src="{{url_for('static', filename='imgs/toon.png')}}" alt="xo-game">
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
  </section>


{% endblock%}



    {% block scripts %}
        <script>

          function changeVideoLink(link) {
                      const frame = document.querySelector('iframe');
                      let endLink = link.split('.be/')[1];
                      console.log(endLink);
                      frame.src =   `https://www.youtube.com/embed/${endLink}`;
                  }



        </script>


    {% endblock %}