{% extends 'base.html' %}


{% block body %}

       <!-- Page Content -->
       <section class="welcoming py-4">
        <div class="container d-flex justify-content-center align-items-center flex-column">
          <h3 class="welcom-heading">مرحبا صديقي <span> | عمر |</span></h3>
          <p>أستمتع بالألعاب وقت فراغك</p>
        </div>
    </section>


    <!-- Games -->

    <section class="dashboard">
        <div class="container">
            <div class="row mb-5 pb-4">
              <div class="game col-12 col-md-6 my-3">
                <h2>X/O</h2>
                <iframe id="game-element" allowfullscreen="true" allow="autoplay; fullscreen; camera; focus-without-user-activation *; monetization; gamepad; keyboard-map *; xr-spatial-tracking; clipboard-write" name="gameFrame" scrolling="no" sandbox="allow-forms allow-modals allow-orientation-lock allow-pointer-lock allow-popups allow-popups-to-escape-sandbox allow-presentation allow-scripts allow-same-origin allow-downloads" src="//games.poki.com/458768/tictactoe?tag=pg-v3.2.1&amp;site_id=43&amp;categories=7,8,76,230,750&amp;iso_lang=ar&amp;country=EG&amp;poki_url=https://poki.com/ar/g/tictactoe" title="Game"></iframe>
              </div>

              <div class="game col-12 col-md-6 my-3">
                <h2>Conect 4</h2>
                <iframe id="game-element" allowfullscreen="true" allow="autoplay; fullscreen; camera; focus-without-user-activation *; monetization; gamepad; keyboard-map *; xr-spatial-tracking; clipboard-write" name="gameFrame" scrolling="no" sandbox="allow-forms allow-modals allow-orientation-lock allow-pointer-lock allow-popups allow-popups-to-escape-sandbox allow-presentation allow-scripts allow-same-origin allow-downloads" src="//games.poki.com/458768/connect4?tag=pg-v3.2.1&amp;site_id=43&amp;categories=4,7,8,9,76,96,750&amp;iso_lang=ar&amp;country=EG&amp;poki_url=https://poki.com/ar/g/four-in-a-row" title="Game"></iframe>
              </div>
            </div>
    </section>

{% endblock%}



    {% block scripts %}

        <script>

        </script>


    {% endblock %}