<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> دودي | صديقك المفضل | الرئيسية</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.rtl.min.css')}}">

    <!-- Styles -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
</head>
<body>

    <!-- Navbar-->

    <nav class="d-flex justify-content-center">
        <img class="login_nav_img" src="{{url_for('static', filename='imgs/nav_img.png')}}" alt="login nav img"/>
    </nav>

    {% block body  %}
    {% endblock  %}

    {% block scripts %}

    {% endblock %}



</body>
</html>