    {% extends 'base.html' %}


    {% block body  %}
             <!-- Page Content -->
    <section class="welcoming py-4">
        <div class="container d-flex justify-content-center align-items-center flex-column">
          <h3 class="welcom-heading">أهلا وسهلا بك</h3>
          <p>تم تصميم دودي لمساعدة الأباء في تقويم سلوك ابنائهم</p>
        </div>
    </section>

    <section class="login container d-flex justify-content-between">
        <div class="row">
            <form class="col-lg-4 d-flex flex-column gap-3" method="post" action="doLogin">
                <input type="text" name="email" placeholder="البريد الألكتروني">
                <input type="password" name="password" placeholder="كلمة المرور">
                <a class="text-decoration-none" href="#">هل نسيت كلمة السر؟</a>
                <div class="submit d-flex flex-column justify-content-center align-items-center gap-3">
                    <button class="btn btn-primary">تسجيل الدخول</button>
                    <p>ليس لديك حساب | <a class="text-decoration-none" href="#">قم بإنشاء حساب جديد</a></p>
                </div>
            </form>

        <div class="col-lg-8">
        <img src="{{url_for('static', filename='imgs/login-dad-img.png')}}" width="100%" alt="login-dad-img"/>
        </div>

    </div>
    </section>

    {% endblock  %}


    {% block scripts %}

    {% endblock %}

