/** FONT **/
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap');


*{
    font-family: 'Cairo', sans-serif;
}
p , h1{
    color: #2980B9;
}
/** Navbar **/
nav{
    background-color: #2980B9;
}
nav .login_nav_img{
    width: 250px;
}
.navbar-brand{
    width:80px
}
.banner img{
    width: 100%;
    height: 222px;
}
.banner .login__buttons{
    width: 100%;
}
.banner .btn{
    background: #2980B9;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    padding: 8px 30px;
}
.login form input{ 
    padding: 10px;
    background-color: #ECECEC;
    border: none;
}
.btn{
    background: #2980B9;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    padding: 12px 40px;
}
.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .nav-link{
     color: #FFF;
}

.navbar-light .navbar-nav .nav-link.active{
    font-weight: bold;
}

.navbar-collapse{
    justify-content: flex-end;
}

.modal-dialog{
    width: fit-content;
    max-width: fit-content;
}

.open-modal {
    background: transparent;
    border-radius: 25px;
    box-shadow: unset;
}

/** Welcoming **/
.welcoming{
    color: #2980B9;
}

.welcomingv .welcom-heading{
    font-weight: bolder;
}

/** Dashboard **/
.control-wrapper .control{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
    border-radius: 25px;
}

.control-wrapper .control a{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
}

.control-wrapper .control .remove{
    color: #262626;
    position: absolute;
    top: -8px;
    left: -8px;
    background: #fff;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 25px;
    font-size: 24px;
    border-radius: 50%;
    box-shadow: 1px 1px 9px #000000a3;
    cursor: pointer;
}

.control-wrapper .control-1{
    background-color: #2C3E50;
}

.control-wrapper .control-2{
    background-color: #8E44AD;
}

.control-wrapper .control-3{
    background-color: #22A6B3;
}

.control-wrapper .control-4{
    background-color: #d35400;
}

.control-wrapper .control-5{
    background-color: #16a085;
}

.control-wrapper .control-6{
    background-color: #e74c3c;
}

.control .text p{
    color: #FFF;
}

.control .text p:first-child{
    font-weight: bold;
    margin-bottom: 0.7rem;
}

.control img{
    width: 100px;
    height: 100px;
}

.task-wrapper{
    border: 3px solid #232323;
    border-radius: 25px;
}

.task-wrapper h4{
    border-bottom: 1px solid #232323;
    padding-bottom: 0.9rem;
    text-align: center;
}

.wise-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wise-wrapper .text-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wise-wrapper .text-pic img{
    width: 150px;
}

.wise-wrapper .text-pic .wise-p{
    font-size: 20px;
}

.removeTask{
    color: #262626;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 16px;
    border-radius: 50%;
    box-shadow: 1px 2px 6px #000000a3;
    cursor: pointer;
}
